*.py[oc]
*.log
*.vlog
*.json
*.auth
*.bak
*.swp
errata-*.html
errata-*.yml
errata-*.md
test*.py
test*.yml
TODO
.buildinfo
build/
dist/

# Python dirs
__pycache__
*.egg-info
.cache/
.idea

# Coverage dirs
.coverage
coverage.xml
htmlcov/
