{"config": {"hostname": "https://shittymon.giertz.loc/icinga_legacy/icinga", "hostname_legacy": "https://shittymon.giertz.loc/nagios/nagios", "cgi_user": "omdadmin", "cgi_pass": "omd"}, "valid_objects": {"host": "dummy", "hostgroup": "dummy-hosts", "host_service": "PING", "host_services": 2}}
