{
    "config": {
        "hostname": "shittywalk03.giertz.loc",
        "port": 443,
        "api_user": "giertz",
        "api_pass": "stdevel"
    },
    "valid_objects": {
        "user": {
            "name": "admin"
        },
        "host": {
            "name": "dummy",
            "id": 4,
            "group": "demo"
        },
        "hostparams": {
            "katprep_mon_name": "dummy",
            "katprep_mon_type": "icinga",
            "katprep_owner": "admin"
        }
    }
}
